
#container {
	width: 300px;
}

#logo-container {
	position: relative;
	border-bottom: 1px solid #DDD;	
}

#logo {
	width: 93px;
	height: 60px;
	background-image: url("../img/logo.png");
	margin: 20px auto 20px auto;
}

#beer {
	margin: 12px 0px 0px 0px;
	font-size: 14px;
	text-align: left;
}

#beer p {
	color:#DDD;
	margin: 5px 0px 0px 40px;
}

#beer img {
	float:left;
	margin-top: -5px;
	max-width: 30px;
	height: auto;
}

#beer img:hover {
	cursor: pointer;
}

#price-container {
	float:left;
	width: 100%;
	font-size: 20px;
	border-bottom: 1px solid #DDD;	
	padding: 20px 0px;
}

#price-container > #price {
	text-align: center;
}

#transfers-container {
	float:left;
	border-bottom: 1px solid #DDD;
}

.transfer {
	float:left;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px solid #EEE;
}

.transfer .plus {
	float:left;
	height: 24px;
	width: 24px;
	background-image: url("../img/plus.png");
}

.transfer .minus {
	float:left;
	height: 24px;
	width: 24px;
	background-image: url("../img/minus.png");
}

.transfer p {
	font-size: 16px;
	margin: 2px 0px 0px 0px;
}

.transfer p.price {
	float:left;
	margin-left: 30px;
}

.transfer p.name {
	float:right;
}

.transfer:last-child {
	border:none;
}

#options-container { 
	float:left;
	width: 100%;
	margin: 10px 0px;
	padding: 10px 0px 0px 0px;
}

#options-container > .btn { 
	float: left;
	width: 145px;
	border: none;
	height: 35px;
	color: #FFF;
	background-color: #f5821f;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
}

#options-container > .btn:first-child { 
	margin-right:5px;
}

#options-container > .btn:last-child { 
	margin-left:5px;
}

#options-container > .btn:hover {
	background-color: #e0701b;
}

#options-container > .btn > #info {
	float: left;
	margin: 9px 0px 0px 8px;
	width:16px;
	height:16px;
	background-image: url("../img/info.png");
}

#options-container > .btn > #settings {
	float: left;
	margin: 9px 0px 0px 8px;
	width:16px;
	height:16px;
	background-image: url("../img/settings.png");
}

#options-container p {
	font-size: 14px;
	padding: 0px;
	margin-top: 8px;
	text-align: center;
}